.center-content {
  text-align: center;
}

.marcador {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.goles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
