/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.min.css";

#panelIzquierdo {
  background-color: lightgray;
  height: 100vh;
}

#panelIzquierdo img {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 50%;
}

